<article class="card my-2">
    <main class="card-body pb-0">
        <p>{{content}}</p>
    </main>
    <footer class="card-footer d-flex justify-content-between py-1">
        <span class="m-0 text-right">{{user.name}} - {{format_date comment_date}}</span>
    </footer>
</article>