<div class="card my-2">
    <div class="card-body pb-0">
        <p>{{content}}</p>
    </div>
    <div class="card-footer d-flex justify-content-between py-1">
        <span class="m-0 text-right">{{user.name}} - {{format_date comment_date}}</span>
    </div>
</div>