{{!-- Header to be displayed only on md or larger screens --}}
<h1 class="text-center m-2 d-none d-sm-block display-4">Welcome to Console Dot Blog!</h1>
<hr class="d-none d-sm-block">
{{!-- Main content panel --}}
<div class="row">
  {{!-- Column to show new and recently updated posts --}}
  <section class="col-md-6 col-12 px-0 px-md-3">
    <h2 class="text-center">New Posts</h2>
    {{#each posts as |post|}}
    {{> homePost}}
    {{/each}}
  </section>
  {{!-- Column to show only recently updated posts --}}
  <section class="col-md-6 col-12 px-0 px-md-3">
    <h2 class="text-center">Recently Updated Posts</h2>
    {{#each posts as |post|}}
      {{#if post.updated_date}}
      {{> homePost}}
      {{/if}}
    {{/each}}
  </section>
</div>
